
@font-face {
    font-family: cheek;
    src: url(/Studyspace/misc/vogue/Vogue.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: cheek;
    font-size: 1rem;
    text-align: center;
    margin: 5% 0;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding: 2%;

}
.linksmenu{
    /* display: inline-block; */
}
.navbar {
    text-decoration: none;
    color: rgb(53, 53, 52);
    transition: color 0.3s;
    border-radius: 8%;
    background-color: rgb(227, 218, 205);
    margin: 2%;
    padding: 3%;
  
}

.navbar:hover {
    color: #b73838;
}

.hero {
    text-align: center;
    padding: 20%;
    background: rgb(240, 240, 240);
}

.button {
    background-color: rgb(192, 179, 160);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(170, 160, 140);
}

.about, .services, .gallery, .contact {
    padding:1% ;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}



footer {
    text-align: center;
    padding: 2% 0;
    background-color: rgb(227, 218, 205);
}
