
@font-face {
    font-family: cheek;
    src: url(/Studyspace/misc/vogue/Vogue.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: cheek;
    font-size: 2em;
    text-align: center;
    margin: 2%;
    font-family: cheek;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color:  rgb(227, 218, 205);

}
.navbar {
    text-decoration: none;
    color: rgb(53, 53, 52);
    transition: color 0.3s;
    border-radius: 8%;
    background-color: rgb(227, 218, 205);
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.navbar:hover {
    color: #b73838;
}

.hero {
    text-align: center;
    padding: 16%;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    font-family: cheek;
    font-size: 2em;
    background-image: url(/misc/Tablewithbooks.jpg);
    
    background-image: linear-gradient(rgba(0,0,0,0.64),rgba(0,0,0,0.64)), url(/misc/Tablewithbooks.jpg);
    
}

.button {
    background-color: rgb(227, 218, 205);
    color: rgb(71, 71, 71);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(170, 160, 140);
}

.about, .services, .contact {
    padding:1% ;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}



footer {
    text-align: center;
    padding: 2% 0;
    background-color: rgb(227, 218, 205);
}
