@font-face {
    font-family: cheek;
    src: url(/Studyspace/misc/vogue/Vogue.ttf);
}
html, body {
    overflow-x: hidden; 
    width: 100vw; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-family: cheek;
    font-size: 2em;
    text-align: center;
    margin: 2%;
}
li{
    list-style: none;
}

header{
    background-color:   rgb(252, 174, 174) ;
    grid-area: hd;
    width: 100vw;
    min-height: 70 px;
    max-height: 100px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
}

.nav-branding{
    font-size:  2rem ;
}

a{
    color: black;
    text-decoration: none;
    padding: 10%;
}

.nav-menu {
    display: none;
    position: absolute;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
}

.nav-menu.active{
    display: flex;
    top: 60px;
    background-color: rgb(252, 174, 174) ;
    padding: 10%;
   width: 100vw;
}

.nav-item{
    margin: 12px;
}

.nav-link{
    padding: 10px 20px;
    margin: 50px;
    transition: 0.2s ease;
    font-family: cheek;
}

.nav-link:hover{
    color: rgb(201, 143, 106);
    
    border: 0px;
    border-bottom: 3px;
    border-style: solid;
    
}

.hamburger{
    display: block;
    cursor: pointer;
    padding: 2%;
    background-color: transparent;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
    
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;

}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    
}


.hero {
    grid-area: hero;
    text-align: center;
    padding: 16%;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    font-family: cheek;
    font-size: 1.5rem;
    background-image: url(/misc/Tablewithbooks.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.64),rgba(0,0,0,0.64)), url(/misc/Tablewithbooks.jpg);
    
}  
.button {
    background-color: rgb(227, 218, 205);
    color: rgb(71, 71, 71);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(246, 223, 176);
}

.footer{
    grid-area: ft;
    text-align: center;
    padding: 2% 0;
    background-color:  rgb(252, 174, 174); 
}

@media(min-width:780px){
    .hamburger{
        display: none;
    }


    .nav-menu{
        display: flex;
        position: static;
        flex-direction: row;
        nav-left: 0;
        border: none;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .hero{
        font-size: 2em;
        padding: 12%;
    }
}